body{
    background-color: #4D713A;
    margin: 0px 400px 0px 400px;
}

.img{
    width: 10%;
}

.img1{
    width: 10%;
}

.img2{
    width: 10%;

}

.titulo{font-size: 250%;

}
 .bu{font-size: 300%;}
.no{font-size: 240%;}
.ny{font-size: 240%;}
.np{font-size: 240%;}
.cn{font-size: 300%;}
.bb{font-size: 300%;}
.pp{font-size: 300%;}
.pl{font-size: 300%;}
.kk{font-size: 220%;}
.ii{font-size: 220%;}
.fcc{font-size: 180%;}
.tt{font-size: 180%;}
.cc{font-size: 180%;}
.ag{font-size: 180%;}
.sa{font-size: 180%;}
.cqf{font-size: 180%;}
.ce{font-size: 180%;}
.cqf{font-size: 180%;}
.cqf{font-size: 180%;}
.fe{font-size: 180%;}
.mis{font-size: 180%;}
.md{font-size: 180%;}
.ml{font-size: 180%;}
.hh{font-size: 180%;}
.yy{font-size: 180%;}
.oo{font-size: 180%;}
.ck{font-size: 300%;}